/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/


:root {
    --main-font: 'Dancing Script', cursive;
    --second-font: 'Poor Story', cursive;

    --main-fontcolor: #01F590; 

    --font-size1: 3rem;
    --font-size2: 2rem;
    --font-size3: 1.5rem;

}

/* Allows me to include the padding/border size in an elements total size */
*,
*::before
*::after {
    box-sizing: border-box;
}

/* Sets backgroun d image to cover the entire viewport */
body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Sets font font family & size to h2 tags aswell as gives them all 1rem of margin on underneath. */
h2 {
    font-family: var(--main-font);
    font-size: var(--font-size1);
    color: var(--main-fontcolor);
    margin-bottom: 1rem;
}

/* Sets font font family & size to p tags */
p {
    font-family: var(--second-font);
    font-size: var(--font-size3);
    color: var(--main-fontcolor);

}

/*  */
header {
    border: 3px solid black;
    padding: 1rem;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
}

img:hover {
    transform: scale(1.1);
}

iframe:hover {
    transform: scale(1.1);
}

.skip-links {
    display: none;  
}

.top-info {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative; /* allows the slogan to be positions "absolutely" to the logo */
    margin-bottom: 2rem;
    
}

.logo:hover {
    animation: pulse .5s infinite;
}
/* Places the slogan ontop of the logo */
.logo .slogan {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 65%;
    font-size: 2rem;
}

.order {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size2);
    font-weight: bolder;
    text-decoration: none;
}

.other-info p {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size3);
    font-weight: bolder;
    text-decoration: none;
}

.company-logo {
    width: 400px;
    height: 150px;
}

.company-address {
    text-align: right;
}

.main-nav ul {
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.main-nav a {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size2);
    font-weight: bolder;
    text-decoration: none;
    margin-right: 1rem;
    
}

.main-nav a:hover {
    color: blue;
}

.main-nav li:hover {
    animation: pulse .5s infinite;
}

@keyframes pulse {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.1);
    }
    100% { 
        transform: scale(1); 
    }
}

.container + .container2 {
    padding: 0 1rem 0 1rem;
}

.photo-gallery {
    border: 3px solid black;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;
}

.image-scroll {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.image-scroll img {
    margin-right: 1rem;
    margin-left: 1rem;
}

.about {
    border: 3px solid black;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.about-info1 {
    display: flex;
    flex-direction: column;
}

.about-content1 {
    display: flex;
}

.about-info2 {
    display: flex;
}

.about h2 {
    text-align: center; 
    font-size: var(--font-size1);     
}

.vibes {
    margin-top: 1rem;
}



.about p {
    font-family: var(--second-font);
    font-size: var(--font-size3);
}

.baker1 {
    margin-right: 1rem;
}

.flour {
    margin-top: 2rem;
    margin-left: 1rem;
}

.rounded-corners {
    border-radius: 10px;
}

.location {
    border: 3px solid black;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;

    display: flex;
}

.location h2 {
    text-align: center;
}

.location iframe {
    margin-left: 1rem;
}

.menu-items {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 1rem;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 50%;
  }

  tr:first-child {
    font-weight: bold;
    border: 3px solid black;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  tr:nth-child(even) {
    background-color: #B2BEB5;
  }

  #menu h2 {
    margin-top: 1rem;
  }

  #catering-services h2 {
    margin-top: 1rem;
  }

  #weddings h2 {
    margin-top: 1rem;
  }

  footer {
    background-color: #01F590;
    padding: 2rem;
    margin-top: 1rem;
  }
@media screen and (min-width: 1200px) {

    .container {
        display: flex;
    }

    .photo-gallery {
        width: 33.3%;
        text-align: center;
    }

    .image-scroll {
        flex-direction: column;
    }

    .image-scroll img {
        margin-bottom: 1rem;
        display: inline-block;
        align-items: center;
    }

    .about {
        width: 33.3%;
    }

    .location {
        flex-direction: column;
        width: 33.3%;
    }

    .location p {
        margin-bottom: 1rem;
    }

}
