/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/


:root {
    --main-font: 'Dancing Script', cursive;
    --second-font: 'Poor Story', cursive;

    --main-fontcolor: #01F590; 

    --font-size1: 3rem;
    --font-size2: 2rem;
    --font-size3: 1.5rem;

}

*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

h2 {
    font-family: var(--main-font);
    font-size: var(--font-size1);
    margin-bottom: 1rem;
}

p {
    font-family: var(--second-font);
    font-size: var(--font-size3);
}

header {
    border: 3px solid black;
    padding: 1rem;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative; /* allows the slogan to be positions "absolutely" to the logo */
    margin-bottom: 2rem;
}

/* Places the slogan ontop of the logo */
.logo .slogan {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 65%;
    font-size: 2rem;
}

.order {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size2);
    font-weight: bolder;
    text-decoration: none;
}

.other-info p {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size3);
    font-weight: bolder;
    text-decoration: none;
}

.company-logo {
    width: 400px;
    height: 150px;
}

.company-address {
    text-align: right;
}

.main-nav ul {
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.main-nav a {
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-size: var(--font-size2);
    font-weight: bolder;
    text-decoration: none;
    margin-right: 1rem;
    
}

.main-nav a:hover {
    color: blue;
}

.main-nav li:hover {
    animation: pulse .5s infinite;
}

@keyframes pulse {
    0% { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.1);
    }
    100% { 
        transform: scale(1); 
    }
}

.container {
    padding: 1rem;
}

.photo-gallery {
    border: 3px solid greenyellow;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;
    overflow: hidden;
}

.image-scroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.image-scroll img {
    margin-right: 1rem;
    margin-left: 1rem;
}

.baker2 {
    width: 200px;
    height: 300px;
}

.chocolate-cake {
    width: 400px;
    height: 300px;
}

.product-display {
    width: 400px;
    height: 300px;
}

.about {
    border: 3px solid blue;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.about-info1 {
    display: flex;
}

.about-info2 {
    display: flex;
}

.about h2 {
    text-align: center; 
    font-size: var(--font-size1);     
}

.vibes {
    margin-top: 1rem;
}

.about p {
    font-family: var(--second-font);
    font-size: var(--font-size3);
}

.baker1 {
    width: 300px;
    height: 300px;
    margin-right: 1rem;
}

.flour {
    width: 400px;
    height: 300px;
    margin-top: 1rem;
}

.rounded-corners {
    border-radius: 10px;
}

.location {
    border: 3px solid yellow;
    color: var(--main-fontcolor);
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 1rem;

    display: flex;
}

.location iframe {
    margin-left: 1rem;
}
